//- 메인페이지
doctype html
html(lang='ko')
  head
    meta(charset='utf-8') 
    meta(http-equiv='X-UA-Compatible' content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/stylesheets/root.css")
    script(src="https://kit.fontawesome.com/63e1d65e2b.js" crossorigin="anonymous")
    block css
    block title
  body 
    div(class="container")
      block content
    block script