div(class="phone-container input-container")
  label.input-label
    input(type="text" id="phone" name="phone" class="signin-input phone-input" placeholder="휴대전화 번호를 입력해주세요.")
    p(class="input-label-p") 휴대전화
    button(class="input-erase-btn"): i.fas.fa-times
  button(class="phone-auth-btn" disabled) 인증번호 받기