//- 로그인 페이지
extends layout.pug 

block append css
  link(rel="stylesheet", href="/stylesheets/signin.css")

block content 
  form
    label
      input(type="text" class="signin-input" name="login_id" placeholder="아이디 또는 이메일")
    label 
      input(type="password" class="signin-input" name="login_pw" placeholder="비밀번호")
    button(type="submit") 로그인
  div(class="btn-container")
    button 아이디 찾기
    button 비밀번호 찾기

block script
  script(src="/scripts/signin.js") 
