//- 회원정보입력 페이지
doctype html
html(lang='ko')
  head
    meta(charset='utf-8') 
    meta(http-equiv='X-UA-Compatible' content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title='회원가입'
  body 
    div 회원가입