//- 회원정보입력 페이지
extends layout.pug 

block append css
  link(rel="stylesheet", href="/stylesheets/input.css")
  link(rel="stylesheet", href="/stylesheets/signup.css")

block content 
  header 
    h1 회원가입
    button(class="back-btn header-btn"): i 뒤로
  div(id="signup-container")
    include phone.pug

block script
  script(src="/scripts/signup.js" type="module") 