//- 회원정보입력 페이지
extends layout.pug 

block append css
  link(rel="stylesheet" href="/stylesheets/input.css")
  link(rel="stylesheet" href="/stylesheets/signup.css")
  link(rel='stylesheet' href='/stylesheets/clause.css')

block content 
  header 
    h1 회원가입
    button(class="back-btn header-btn bg-none-btn"): i.fas.fa-arrow-left
    button(class="header-btn bg-none-btn right-btn") 다음
  div.slide-container
    div(id="signup-container")

block script
  script(src="/scripts/signup.js" type="module")