* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  background-color: white;
  position: relative;
  min-height: 100vh;
  padding: 0 1.5rem;
}
.close-btn {
  position: absolute;
  top: 1.5rem;
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
form > * {
  margin: 1.2rem 0;
  width: 100%;
}
form > label {
  position: relative;
}
form > button {
  border: none;
  background-color: #5dbebb;
  color: white;
  padding: .8rem 0;
  border-radius: 3px;
  font-weight: bold;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
}
.btn-container > button {
  border: none;
  background-color: inherit;
  border-radius: 3px;
  color: #888
}
button {
  cursor: pointer;
}
.oauth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
}
.oauth-container > p {
  margin: 1em 0;
}
.oauth-container > a:not(.signup-link) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: 100%;
  height: 3em;
  border: 1px solid black;
  border-radius: 3px;
  margin: .5em 0;
}
.oauth-container > a > * {
  margin: .5em;
}
.oauth-container > a > img {
  width: .8em;
}
.signup-link {
  color: #5dbebb
}